models/*.prior
models/transformer/*.zip
models/transformer/models/weights/*.ckpt
*.pyc
__pycache__/
.pixi/
.DS_Store
data/chembl_smiles.tsv
models/transformer/alphabets.zip
models/transformer/models.zip
models/transformer/models/weights/
